﻿
@{
    ViewData["Title"] = "Self Attestation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="confirmBoxOptions">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <div id="confirmBox">
                <div class="message"></div>
                <span class="button yes">Yes</span>
                <span class="button no">No</span>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            @if (ViewBag.FailedAttempt != null || ViewBag.FailedAttempt != "")
            {
                <p class="redText" style="font-size: 1.4em !important"><b>@ViewBag.FailedAttempt</b></p>
            }
        </div>
    </div>

    <hr/>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>COVID-19 Attestation</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3><i>Please READ ALL Terms and Conditions and Attest</i></h3>
        </div>
    </div>
    <br />
    <div class="row" style="font-size: 1.4em !important">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-left">

            @foreach (var item in ViewBag.Instructions)
            {
                <p> @item.Info</p>
            }
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<br />
<div class="container">
    <input type="hidden" id="usingLSID" name="usingLSID">

    <form asp-action="SubmitAttestation" asp-controller="Home">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">

                <div id="needADUsername">
                    <h4>Username</h4>
                    <input type="text" class="form-control" id="attestUsername" name="attestUsername" required>
                    @*<input type="hidden" class="form-control" id="username">*@
                    <br />
                </div>
                <div id="password">
                    <h4>Password</h4>
                    <input type="password" class="form-control" id="loginPassword" name="loginPassword" required>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <div id="sharedworkstation">
                    <h4 class="redText"><i>If the above is <u>not</u> your Username, you are on a WOW or Shared Workstation, please RESTART attestation and click "YES" to first question to ENTER YOUR credentials.</i></h4>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>PLEASE SELECT OPTION BELOW</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2 text-center">
                <input type="radio" value="Agree" id="attestOption1" name="attestationOption" required><span class="agreeOption">Agree</span>
            </div>
            <div class="col-md-2 text-center">
                <input type="radio" value="Disagree" id="attestOption2" name="attestationOption" required><span class="disagreeOption">Disagree</span>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row" style="margin: 3% !important;">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <button id="btnSubmit" type="button" class="btn btn-success submitBtn">
                    <i class="far fa-save"></i> Submit Attestation
                </button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/PreventBack.js" asp-append-version="true"></script>
    <script src="~/js/SelfAttestation.js" asp-append-version="true"></script>
}
