﻿@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1><u>Frequently Asked Questions</u></h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            @foreach (var item in ViewBag.FaqInfo)
            {
                <h2>@item.Question</h2>
                <p><i>@item.Response</i></p>
            }
        </div>
        <div class="col-md-2"></div>
    </div>
</div>