﻿@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <img class="img-responsive" src="~/img/BMCLogo.jpg" style="width: 75% !important;" />
        </div>
        <div class="col-md-1"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>COVID-19 Attestation</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center" style="font-size: 1.4em !important; background-color: lightgray">
            <p>Please complete your COVID-19 attestation. Baptist Health keeps this information Private and Confidential.</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <a asp-action="BeginSelfAttestation" asp-controller="Home" class="btn btn-default generalBtn"> <i class="far fa-edit"></i> Start Attestation</a>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
