﻿
@{
    ViewData["Title"] = "Legal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>APPLICATION END USER LICENSE AGREEMENT</h1>
        </div>
    </div>
    <br />
    <div class="row" style="font-size: 1.4em !important">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-left">
            <p>
                Baptist Health grants you a limited, revocable and nontransferable license to use this application ("App") under the terms of this end user license agreement ("EULA"). This EULA will govern any content, materials or services available through this App, including any upgrades to it.  You may not transfer, redistribute or sublicense this App and you may not copy (except as permitted in writing by Baptist Health), reverse-engineer, disassemble, attempt to derive the source code of, modify or create derivative works from, this App.
            </p>
            <p>
                THIS APP IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED.  IN NO EVENT SHALL BAPTIST HEALTH BE LIABLE FOR PERSONAL INJURY OR ANY INCIDENTAL, SPECIAL, INDIRECT, OR CONSEQUENTIAL DAMAGES WHATSOEVER, ARISING OUT OF OR RELATED TO YOUR USE OF OR INABILITY TO USE THIS APP, HOWEVER CAUSED, REGARDLESS OF THE THEORY OF LIABILITY (CONTRACT, TORT, OR OTHERWISE) AND EVEN IF BAPTIST HEALTH HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
            </p>
            <p>
                You agree that we may collect and use your technical data about your device and the App software to enable Baptist Health to improve or provide updates to this App and to provide services to you.  Baptist Health reserves the right to modify this EULA at any time for any reason.  Your continued use of this App after Baptist Health publishes notice of changes to this EULA indicates your consent to the updated terms. This EULA is effective immediately and shall continue until terminated by you or Baptist Health. Your license to use this App will terminate upon termination of this EULA or if you fail to comply with any of its terms.  This EULA shall be governed by Florida law.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

