﻿
@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <img src="~/img/BMCLogo.jpg" style="width: 50% !important;"/>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>COVID-19 Attestation</h1>
        </div>
    </div>
    <br />

    @if (ViewBag.ResultType == "Agree")
    {
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <h4 class="greenText">Attest Date: @ViewBag.Date</h4>
                <br />
                <i class="far fa-check-circle greenText" style="font-size:6em !important;"></i>
                <h3 class="greenText">Approved to Enter a Baptist Facility</h3>

            </div>
            <div class="col-md-2"></div>
        </div>
    }
    else if (ViewBag.ResultType == "Disagree")
    {
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="redText">Attest Date: @ViewBag.Date</h4>
                <br />
                <h3 class="redText">You are NOT Approved to Enter a Baptist Facility</h3>
                <br />
                <h4>Help keep our staff and patients safe</h4>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center" style="font-size: 1.3em !important">
                <p class="redText"><b>1. DO NOT REPORT TO CAMPUS TODAY.</b></p>
                <p class="redText"><b>2. PLEASE IMMEDIATELY CONTACT YOUR SUPERVISOR</b></p>
                <p>3. An email will be sent to your manager and Employee Health.</p>
                <p>4. Employee Health will contact you.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    }
<br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <a asp-action="Index" asp-controller="Home" class="btn btn-default homeBtn"> <i class="fas fa-home"></i> Home</a>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>