﻿body {
}

.generalBtn {
    width: 100% !important;
    font-size: 1.75em !important;
    background-color: #0148A0 !important;
    color: white !important;
    border-radius: 15em !important
}

.agreeOption {
    color: green !important;
    padding-left: 4% !important;
    font-size: 1.5em !important;
}

.disagreeOption {
    color: #CC0000 !important;
    padding-left: 4% !important;
    font-size: 1.5em !important;
}

.submitBtn {
    width: 100% !important;
    font-size: 1.75em !important;
    color: white !important;
    border-radius: 15em !important;
}

.greenText {
    color: green !important;
}

.redText {
    color: #CC0000 !important;
}

.homeBtn {
    width: 100% !important;
    font-size: 1.75em !important;
    background-color: #0148A0 !important;
    color: white !important;
    border-radius: 15em !important;
}

#confirmBox {
    display: block !important;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    /* position: fixed;*/
    /*width: 300px;*/
    left: 50%;
    /* margin-left: -150px;*/
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}

    #confirmBox .button {
        background-color: #ccc;
        display: inline-block;
        border-radius: 3px;
        border: 1px solid #aaa;
        padding: 2px;
        text-align: center;
        width: 80px;
        cursor: pointer;
        font-size: 1.2em !important;
    }

        #confirmBox .button:hover {
            background-color: #ddd;
        }

    #confirmBox .message {
        /*text-align: left;*/
        font-size: 1.5em !important;
        margin-bottom: 8px;
    }
